<details>
    <summary>List of Students</summary>
    <ul id="student-list">
        <%for (let student of students_list){%>
            <li class="single-student-data">
                <p><b>Student Name:</b> <%= student.name %></p>
                <p><b>Student College:</b> <%= student.college %></p>
                <p><b>Student Batch:</b> <%= student.batch %></p>
                <p><b>Student Placement Status:</b> <%= student.status%></p>
                <p><b>Student DSA Final Score:</b><%=student.dsa %></p>
                <p><b>Student Web Development Final Score:</b><%=student.webd %></p>
                <p><b>Student React Final Score:</b><%=student.react %></p>
                <%if((student.companies).length != 0 ){%>
                    <p><b>Placements</b></p>
                    <ol>
                        <%for (company of student.companies) {%>
                            <li>
                                <p>
                                    Company Name: <%= company.company %> 
                                    <br> 
                                    Interview Date: <%= company.date %>
                                    <br>
                                    Interview Result: <%= company.result%>
                                </p>
                            </li>
                        <%}%>
                    </ol>    
                <%}%>
                <a href="/users/download-student-data/<%= student._id%>">
                    <button>Download Data</button>
                </a>
            </li>
        <%}%>
    </ul>
</details>